BODY
{font-size: 10pt; font-family:ncoffline; color: {<NCFM_textcol>};
 background-color: {<NCFM_bgcol>}}

TD,TH,INPUT,A,A:active,A:visit,LABEL
{font-size: medium; font-family:ncoffline; color: {<NCFM_textcol>}}

TD.big,INPUT.big
{font-size: large; font-family:ncoffline; color: {<NCFM_textcol>}}
