BODY
{font-family:ncoffline; color: #000000;
 background-color: #eeeeee}

TD,TH,INPUT,A,A:active,A:visit,LABEL
{font-size: {<GLOBAL_CSS_default_fontsize>}; font-family:ncoffline; color: #000000}


TD.hist_title
{font-size: {<GLOBAL_CSS_hist_title_fontsize>}; font-family:ncoffline; color: #000000}

TD.hist_tagline
{font-size: {<GLOBAL_CSS_hist_tagline_fontsize>}; font-family:ncoffline; color: #000000}

A.hist_item
{font-size: {<GLOBAL_CSS_hist_item_fontsize>}; font-family:ncoffline; color: #000000}

TD.hist_info
{font-size: {<GLOBAL_CSS_hist_info_fontsize>}; font-family:ncoffline; color: #0000aa}



TD.fav_title
{font-size: {<GLOBAL_CSS_fav_title_fontsize>}; font-family:ncoffline; color: #000000}

TD.fav_subtitle
{font-size: {<GLOBAL_CSS_fav_subtitle_fontsize>}; font-family:ncoffline; color: #000000}

TD.fav_tagline
{font-size: {<GLOBAL_CSS_fav_tagline_fontsize>}; font-family:ncoffline; color: #000000}

TD.fav_description
{font-size: {<GLOBAL_CSS_fav_description_fontsize>}; font-family:ncoffline; color: #000000}

TH.fav_cat,A.fav_cat
{font-size: {<GLOBAL_CSS_fav_cat_fontsize>}; font-family:ncoffline; color: #0000ff}

TH.fav_item,A.fav_item
{font-size: {<GLOBAL_CSS_fav_item_fontsize>}; font-family:ncoffline; color: #000000}

INPUT.fav_input
{font-size: {<GLOBAL_CSS_fav_input_fontsize>}; font-family:ncoffline; color: #000000}

INPUT.fav_text
{font-size: {<GLOBAL_CSS_fav_text_fontsize>}; font-family:ncoffline; color: #000000}

INPUT.button
{font-size: {<GLOBAL_CSS_fav_text_fontsize>}; font-family:ncoffline; color: #000000}


TD.favscatr_subtitle
{font-size: {<GLOBAL_CSS_favscatr_subtitle_fontsize>}; font-family:ncoffline; color: #000000}


TD.dbox_title
{font-size: {<GLOBAL_CSS_dbox_title_fontsize>}; font-family:ncoffline; color: #000000}

TD.dbox_text
{font-size: {<GLOBAL_CSS_dbox_text_fontsize>}; font-family:ncoffline; color: #000000}

INPUT.dbox_input
{font-size: {<GLOBAL_CSS_dbox_input_fontsize>}; font-family:ncoffline; color: #000000}

TD.dbox_subtitle
{font-size: {<GLOBAL_CSS_dbox_subtitle_fontsize>}; font-family:ncoffline; color: #000000}

TD.dbox_tagline
{font-size: {<GLOBAL_CSS_dbox_tagline_fontsize>}; font-family:ncoffline; color: #000000}


INPUT.urlentry
{font-size: {<GLOBAL_CSS_urlentry_fontsize>}; font-family:ncoffline; color: #000000}

INPUT.button
{font-size: {<GLOBAL_CSS_button_fontsize>}; font-family:ncoffline; color: #000000}
