BODY
{font-size: 10pt; font-family:ncoffline; color: #000000;
 background-color: #eeeeee}

TD,TH,INPUT,A,A:active,A:visit,LABEL
{font-size: medium; font-family:ncoffline; color: #000000}

TD.big,INPUT.big
{font-size: large; font-family:ncoffline; color: #000000}

TD.button,INPUT.button
{font-size: small; font-family:ncoffline; color: #000000}

TD.small,INPUT.small
{font-size: xx-small; font-family:ncoffline; color: #000000}

TD.title
{font-size: xx-large; font-family:ncoffline; color: #000000}

TD.subtitle
{font-size: x-small; font-family:ncoffline; color: #000000}

TD.tagline
{font-size: small; font-family:ncoffline; color: #000000}

TD.dbox_title
{font-size: x-large; font-family:ncoffline; color: #000000}

TD.option_text
{font-size: small; font-family:ncoffline; color: #000000}

INPUT.option_choice
{font-size: small; font-family:ncoffline; color: #0000ff}

TH.favcat
{font-size: medium; font-family:ncoffline; color: #0000ff}

A.favitem
{font-size: small; font-family:ncoffline; color: #000000}

A.histtitle
{font-size: medium; font-family:ncoffline; color: #000000}

TD.histinfo
{font-size: small; font-family:ncoffline; color: #0000aa}
