1 VERSIONINFO
BEGIN
BLOCK "StringFileInfo"
BEGIN
        BLOCK "040904B0" // Lang=US English, CharSet=Unicode
        BEGIN
                VALUE "CompanyName",     "Oracle Corporation\0"
                VALUE "FileDescription", "Oracle Media Net YOEX32 DLL\0"
                VALUE "FileVersion",     "3.3.2.0.0\0"
                VALUE "LegalCopyright",  "Copyright \251 Oracle Corporation 1996.  All rights reserved.\0"
                VALUE "OriginalFilename","YOEX32.DLL\0"
        END
END
BLOCK "VarFileInfo"
BEGIN
        VALUE "Translation", 0x409, 1200
                // English language (0x409) and the Unicode codepage (1200)
END
END
