/******	Control.h **********************************************************

Project:	STB-400
Component:	DENCDriver
This file:	Low level hardware control

Copyright 1999 Pace Micro Technology plc. All rights reserved.

This material is the confidential trade secret and proprietary information
of Pace Micro Technology plc. It may not be reproduced, used, sold, or
transferred to any third party without the prior written consent of
Pace Micro Technology plc.

History:
Date		Who	Change
----------------------------------------------------------------------------
25/02/2000	BJGA	Created

***************************************************************************/

#ifndef __control_h
#define __control_h

/* Includes */

#include "Data.h"

/* Public prototypes */

extern void Control_SetStandard (tv_standard standard);
extern void Control_InitialiseModulator (void);
extern void Control_SetVideoPath (void);
extern void Control_SetupMacrovision (unsigned int revision, const char *key);
extern void Control_SetMacrovisionState (unsigned int state);

#endif
