
// initalise it

#include "err.h"
#include "datatype.h"

#pragma -s1

int frame=0;

// --------------------------------------------------------------------------------

os_error *InitEntry(int xs, int ys, int parm, int *list)
{
    return 0;
}

os_error *ShutEntry(void)
{
  return 0;
}


char * DecompEntry(char *source, char *image, char *prev, char *table)
{
    int *header = (int*)source;
    char *delta = source+16;
    int	    *op = (int*)image;
    int	    *ip = (int*)prev;
    int	    xs, ys;
    int yData, vData, uData;
    int	    lenYData;
    
    int size, loop;
    
    xs = header[2];
    ys = header[3];
    size = xs*ys;

    
    lenYData = xs * ys;
    yData =0;
    vData = yData + lenYData;
    uData = vData + (lenYData >> 4);

    //--
   
    /* --------------------------------------------------------------------------------
     * CONVERSION STEP
    */
   
    if ((header[0]==0) ) {
        // null frame - just copy from previous buffer
    	for (loop=0; loop<size; loop++)
    	    op[loop]=ip[loop];
    	return source;
    }
    
//    if (frame++==10)
//    	savemem((char*)delta+vData,(char*)delta+vData+1200,"adfs::4.$.yvu9");
    
    ycRgb16(        	    ys,
    	    	    	    xs,
    	    	    	    (PU8)delta+yData,
   			    (PU8)delta+vData,
   			    (PU8)delta+uData,
   			    (int*)image,
   			    3*((xs+3)&~3),
   			    table);

   
     //return source;//+header[0]-12;
   
   return source+header[0]-12;
}
