BODY
{font-size: 10pt; font-family:ncoffline; color: #000000;
 background-color: #eeeeee}

TD,TH,INPUT,A,A:active,A:visit,LABEL
{font-size: medium; font-family:ncoffline; color: #000000}


TD.opt_title
{font-size: xx-large; font-family:ncoffline; color: #000000}

TD.opt_subtitle
{font-size: medium; font-family:ncoffline; color: #000000}

TD.opt_tagline
{font-size: small; font-family:ncoffline; color: #000000}

TD.opt_text
{font-size: medium; font-family:ncoffline; color: #000000}

TD.opt_textsmall
{font-size: xx-small; font-family:ncoffline; color: #000000}

INPUT.opt_choice
{font-size: small; font-family:ncoffline; color: #0000ff}


TD.button,INPUT.button
{font-size: small; font-family:ncoffline; color: #000000}
