/*
 * This is a sort of re-written form of the HTML 2 DTD. It has
 * been designed to be extensible!  (i.e. HTML3 can be added)
 *
 * It should be possible to describe all tags in 32 bits I hope!
 */

#ifndef __rules_h__
#define __rules_h__

#include "tags.h"

enum attr_rules { EMPTY, CDATA, NUMBER, SET,
                  COLOUR_RULE, NAME_RULE, LENGTH_RULE, URL_RULE,
                  COORDS_RULE, OLSTYLE_RULE
};

/*
 * The DTD defines the following "generic" groupings
 */
#define _HEADING	( H1 | H2 | H3 | H4 | H5 | H6 )
#define _LIST		( UL | OL | DIR | MENU )
#define _FONT		( TT | BOLD | ITALIC | FONT | PCDATA )
#define _PHRASE		( EM | STRONG | CODE | SAMP | KBD | VAR | CITE )
#define _TEXT		( A | IMG | BR | _PHRASE | _FONT | PCDATA )
#define _PRECONTENT	( A | HR | BR | _PHRASE | _FONT | PCDATA )

/* for withing the <A...> and <LINK...> etc, tags */
#define _LINKEXTRAATTRS ( REL | REV | URN | _TITLE | METHODS )

/* defined in the DTD but not really used... a bit ott :) */
#define _MONOSPACE	( TT | CODE | SAMP | KBD | VAR )
#define _BOLD		( BOLD | STRONG )
#define _ITALIC		( ITALIC | EM | CITE )

/* Some more complicated mappings */
#define _PREFORMATTED 	( PRE )
#define _BLOCKFORMS	( BLOCKQUOTE | FORM )
/* #define _BLOCK		( P | _LIST | DL | _PREFORMATTED | _BLOCKFORMS ) */
#define _FLOW		( _TEXT | _BLOCK )

/* which all leads too.... */
#define _BODYCONTENT	( _HEADING | _TEXT | _BLOCK | HR | ADDRESS )

/*
 * These are the rules then for the individual tags. They are of
 * the form: TAG_RULE and TAG_LINK
 */

/* Links */
#define A_RULE		(( _HEADING | _TEXT ) - A )
#define A_LINK		( HREF | NAME | LINKEXTRAATTRS )

#define IMG_RULE	( EMPTY )
#define IMG_LINK	( SRC | ALT | ALIGN | ISMAP )

/* PARAGRAPHS */
#define P_RULE		( EMPTY | _TEXT )
#define BR_RULE		( EMPTY )
#define HR_RULE		( EMPTY )

/* Headings */
#define H1_RULE		( _TEXT )
#define H2_RULE		( _TEXT )
#define H3_RULE		( _TEXT )
#define H4_RULE		( _TEXT )
#define H5_RULE		( _TEXT )
#define H6_RULE		( _TEXT )

/* Preformatted */
#define PRE_RULE	( _PRECONTENT )

/* Lists */
/* Definitions list */
#ifdef STRICT
#define DL_RULE		( DT | DD )
#else /* !STRICT */
/* _FONT is a netscape ism! */
#define DL_RULE		( _LIST | DL | DT | DD | _FONT )
#endif /* STRICT */

#define DT_RULE		( EMPTY | _TEXT )
#define DD_RULE		( EMPTY | _FLOW )

/* Other lists */
#ifdef STRICT
#define OL_RULE		( LI | _FONT )
#define UL_RULE		( LI | _FONT )
#define DIR_RULE	( LI | _FONT )
#define MENU_RULE	( LI | _FONT )
#else /* !STRICT */
#define OL_RULE		( LI | _FONT | _LIST | DL )
#define UL_RULE		( LI | _FONT | _LIST | DL )
#define DIR_RULE	( LI | _FONT | _LIST | DL )
#define MENU_RULE	( LI | _FONT | _LIST | DL )
#endif

#define LI_RULE		( EMPTY | _FLOW )

/* The body of the document */
#define BODY_RULE	( EMPTY | _BODYCONTENT )

/* Text block rules */
#define BLOCKQUOTE_RULE	( _BODYCONTENT )
#define ADDRESS_RULE	( _TEXT | P )


/*
 * The rest of this file deals with the somewhat convoluted rules for the
 * head elements
 */

/* Some preamble for the valid tags */
#define _HEADCONTENT	( TITLE | ISINDEX | BASE )

/* The main head rules */
#define HEAD_RULE	( _HEADCONTENT | META | LINK )

/* Rules for the various elements */
#define LINK_RULE	( EMPTY )
#define LINK_LINK	( HREF | URN | REL | REV | _TITLE | METHODS )

#define TITLE_RULE	( PCDATA )	/* The most important rule! */

#define STYLE_RULE      ( CDATA )
#define SCRIPT_RULE     ( CDATA )

#define ISINDEX_RULE	( EMPTY )
#define ISINDEX_LINK	( EMPTY )

#define BASE_RULE	( EMPTY )
#define BASE_LINK	( HREF )

#define META_RULE	( EMPTY )
#define META_LINK	( HTTP_EQUIV | NAME | CONTENT )


/*
 * Rules for font and phrase markup'
 *
 * NOTE: LI's are to keep netscape style list handling happy!
 */

#define BOLD_RULE 	( _TEXT | LI )
#define ITALIC_RULE 	( _TEXT | LI )
#define UNDERLINE_RULE  ( _TEXT | LI )
#define TT_RULE 	( _TEXT | LI )
#define CODE_RULE 	( _TEXT | LI )
#define SAMP_RULE 	( _TEXT | LI )
#define KBD_RULE 	( _TEXT | LI )
#define VAR_RULE 	( _TEXT | LI )
#define STRONG_RULE 	( _TEXT | LI )
#define EM_RULE 	( _TEXT | LI )
#define CITE_RULE 	( _TEXT | LI )
#define FONT_RULE	( _TEXT | LI )
#define SUB_RULE        ( _TEXT | LI )
#define SUP_RULE        ( _TEXT | LI )
#define STRIKE_RULE     ( _TEXT | LI )

#define BASEFONT_RULE   ( EMPTY )

/*
 * Rules for FORMS
 *
 * These are nasty :)
 */
#define FORM_RULE       ( _BODYCONTENT | INPUT | SELECT | TEXTAREA )
#define INPUT_RULE	( EMPTY )
#define OPTION_RULE	( PCDATA )
#define SELECT_RULE	( OPTION_RULE )
#define TEXTAREA_RULE	( OPTION_RULE )

/*
 * Finally some misc. rules
 */

#define ID_RULE         ( CDATA )
#define CONTENTTYPE_RULE ( CDATA ) /* An Internet media type, as per RFC2045 */
#define IALIGN_RULE     ( PCDATA ) /* (top|middle|bottom|left|right) */
#define PIXELS_RULE     ( NUMBER ) /* Integer representing length in pixels (HTML 4.0 says CDATA?) */
#define SHAPE_RULE      ( PCDATA ) /* (rect|circle|poly|default) */
#endif /* __rules_h__ */
