BODY
{font-size: 10pt; font-family:ncoffline; color: #000000;
 background-color: #eeeeee}

TD,TH,INPUT,A,A:active,A:visit,LABEL
{font-size: medium; font-family:ncoffline; color: #000000}


TD.opt_title
{font-size: xx-large; font-family:ncoffline; color: #000000}

TD.opt_subtitle
{font-size: x-small; font-family:ncoffline; color: #000000}

TD.opt_text
{font-size: medium; font-family:ncoffline; color: #000000}

TD.opt_textsmall
{font-size: small; font-family:ncoffline; color: #000000}

INPUT.opt_choice
{font-size: small; font-family:ncoffline; color: #0000ff}



TD.hist_title
{font-size: xx-large; font-family:ncoffline; color: #000000}

TD.hist_tagline
{font-size: small; font-family:ncoffline; color: #000000}

A.hist_item
{font-size: medium; font-family:ncoffline; color: #000000}

TD.hist_info
{font-size: small; font-family:ncoffline; color: #0000aa}


TD.fav_title
{font-size: xx-large; font-family:ncoffline; color: #000000}

TD.fav_subtitle
{font-size: x-small; font-family:ncoffline; color: #000000}

TD.fav_tagline
{font-size: small; font-family:ncoffline; color: #000000}

TD.fav_description
{font-size: small; font-family:ncoffline; color: #000000}

TH.fav_cat,A.fav_cat
{font-size: medium; font-family:ncoffline; color: #0000ff}

TH.fav_item,A.fav_item
{font-size: small; font-family:ncoffline; color: #000000}

INPUT.fav_input
{font-size: large; font-family:ncoffline; color: #000000}


TD.dbox_title
{font-size: x-large; font-family:ncoffline; color: #000000}

TD.dbox_text
{font-size: medium; font-family:ncoffline; color: #000000}

INPUT.dbox_input
{font-size: medium; font-family:ncoffline; color: #000000}

TD.dbox_subtitle
{font-size: x-small; font-family:ncoffline; color: #000000}

TD.dbox_tagline
{font-size: small; font-family:ncoffline; color: #000000}


TD.big,INPUT.big
{font-size: large; font-family:ncoffline; color: #000000}

TD.button,INPUT.button
{font-size: small; font-family:ncoffline; color: #000000}

TD.small,INPUT.small
{font-size: xx-small; font-family:ncoffline; color: #000000}

TD.title
{font-size: xx-large; font-family:ncoffline; color: #000000}

TD.subtitle
{font-size: x-small; font-family:ncoffline; color: #000000}

TD.tagline,INPUT.urlentry
{font-size: small; font-family:ncoffline; color: #000000}

TD.option_text
{font-size: small; font-family:ncoffline; color: #000000}

INPUT.option_choice
{font-size: small; font-family:ncoffline; color: #0000ff}
